NODE_ENV='development'
APP_LANG='az'
BASE_PATH=''
DOMAIN='https://incilaz.com'

WP_API_URL='https://kitobook.com/wp-json/wp/v2'
WP_BOOKS_CATEGORY_ID=''

POSTGRES_USER='root'
POSTGRES_PASSWORD='password'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'
POSTGRES_DATABASE='mbc_az'

DATABASE_URL="postgresql://root:password@localhost:5432/mbc_az?schema=public"
