NODE_ENV='development'
APP_LANG='az'
BASE_PATH=''

POSTGRES_USER='root'
POSTGRES_PASSWORD='password'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'
POSTGRES_DATABASE='mbc_az'

DATABASE_URL="postgresql://root:password@localhost:5432/mbc_az?schema=public"
