NODE_ENV='development'
POSTGRES_USER=postgres
POSTGRES_PASSWORD=345384399Aa
POSTGRES_DATABASE=mbc
POSTGRES_PORT=5432

# PayloadCMS admin URL (for az/uz apps to fetch books)
PAYLOAD_API_URL=http://localhost:8001
