version: '3.9'

services:
  db:
    container_name: postgres_mbc
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  web: 
    build: 
      context: ./app
      dockerfile: ./Dockerfile
      target: builder 
      args:
        DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: development
    ports:
      - "3000:3000"
    volumes:
      - ./app:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - ./.env
    working_dir: /app
    command: yarn dev
    stdin_open: true
    tty: true

volumes:
  postgres_data: